#!/usr/bin/env bash

set +e
lpass status 2>&1 > /dev/null
lpassStatus=$?
set -e
if [[ ${lpassStatus} = 0 ]]; then
    eval $(lpass show "Shared-BOSH-Windows/stembuild-envrc-info" --notes)
else
    echo -e "YOU NEED TO LOGIN TO ${RED}LASTPASS${NC}"
    exit 1
fi
set -e

export GOVC_INSECURE=1
export GOVC_URL=$(lpass show 3160362811280289722 --username):$(lpass show 3160362811280289722 --password)@$(lpass show 3160362811280289722 --name)
export GOVC_DATASTORE=/${datacenter}/datastore/${datastore}
export GOVC_NETWORK=/${datacenter}/network/${resource_pool}
export GOVC_RESOURCE_POOL=/${datacenter}/host/${cluster}/Resources/${resource_pool}
export NETWORK_GATEWAY=${network_gateway}
export SUBNET_MASK=25
export OVA_FILE=./test.ova
export VM_NAME_PREFIX=construct-integration-test
export VM_USERNAME=${vm_username}
export VM_PASSWORD=${vm_password}
export LOCK_PRIVATE_KEY=$(lpass show "Shared-Greenhouse/github-deploy-keys" --notes | yq r - BOSH-WINDOWS-LOCKS-CI_KEY)
export EXISTING_VM_IP=
export USER_PROVIDED_IP=


