.DS_Store
.idea
.envrc
stembuild
stembuild.exe
StemcellAutomation.zip
LGPO.zip
gordiff
gordiff.exe
temp
rdiff/*.c
rdiff/*.h
test/data/expected.vmdk.lck/*
version/version.go
version/version
**.ova
**/.envrc
integration/construct/construct-integration*/**
